@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font-family: "inter", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 11px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .min-container {
    width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .small-container {
    width: 918px;
  }
}

.mobile-menu-open {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  stroke: rgb(255, 255, 255);
}
@media screen and (min-width: 767px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  max-height: 568px;
  background-image: linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 34px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 35px;
  right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  fill: currentColor;
}

.mobile-menu-list {
  margin-top: 52px;
  text-align: center;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.21875;
  text-align: center;
  color: #ffffff;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:is(:hover, :focus) {
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 36px;
}

.hero-btn {
  display: block;
  min-width: 232px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: background-image 500ms linear, transform 500ms linear;
}
.hero-btn:is(:hover, :focus) {
  border: 1px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 5px;
  transform: scale(1.5);
}
@media screen and (max-width: 767px) {
  .hero-btn {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 767px) {
  .hero-btn {
    min-width: 200px;
  }
}

.footer-btn {
  min-width: 180px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: background-image 1500ms linear;
}
.footer-btn:is(:hover, :focus) {
  border: 1px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 5px;
}
@media screen and (max-width: 1199px) {
  .footer-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    margin-bottom: 79px;
  }
}

@media screen and (max-width: 767px) {
  .modal-btn {
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .modal-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 48px 24px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 568px;
    padding: 32px 40px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.modal-caption {
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal-caption {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 767px) {
  .modal-file-download-icon {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal-file-download-wrap {
    display: flex;
    -moz-column-gap: 22px;
         column-gap: 22px;
    margin-bottom: 32px;
  }
}

.modal-file-download {
  padding-top: 28px;
  padding-left: 22px;
  padding-right: 26px;
  height: 394px;
  border: 2px solid transparent;
  text-align: center;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;
  transition: box-shadow 500ms linear;
}
.modal-file-download:is(:hover, :focus) {
  box-shadow: 0px 0px 0px 0px #06071b;
}
@media screen and (min-width: 768px) {
  .modal-file-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 233px;
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .modal-file-download:not(:last-child) {
    margin-bottom: 20px;
  }
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .modal-title {
    margin-bottom: 20px;
  }
}

.modal-item-components {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;
}

.modal-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .modal-text {
    text-align: start;
  }
}

.modal-next-text {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .modal-next-text {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.modal-options-wrap {
  margin-bottom: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .modal-options-wrap {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.modal-options {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .modal-options {
    width: 244px;
  }
}

.modal-border {
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
}
@media screen and (max-width: 768px) {
  .modal-border {
    border-bottom: 2px solid transparent;
  }
}
@media screen and (min-width: 768px) {
  .modal-border {
    border-right: 2px solid transparent;
  }
}

.modal-options-item-components {
  display: flex;
}

.modal-options-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.modal-options-item-components:not(:last-child) {
  margin-bottom: 20px;
}

.modal-options-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}
.modal-options-title:not(:last-child) {
  margin-bottom: 4px;
}

.modal-options-text {
  font-size: 12px;
  line-height: 1.25;
  color: #1ab9fd;
}

@media screen and (min-width: 1200px) {
  .footer-desktop {
    display: flex;
  }
}

.footer-contacts-wrap {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-contacts-wrap {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts-wrap {
    gap: 32px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-wrap {
    gap: 32px;
    margin-bottom: 20px;
  }
}

.footer-contacts-input {
  padding-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .footer-contacts-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-input {
    gap: 10px;
  }
}

.footer-contacts-input,
.footer-contacts-message {
  padding-top: 12px;
  padding-left: 8px;
  width: 280px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .footer-contacts-input,
  .footer-contacts-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts-input,
  .footer-contacts-message {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-input,
  .footer-contacts-message {
    width: 288px;
  }
}

.footer-contacts-input::-moz-placeholder, .footer-contacts-message::-moz-placeholder {
  color: #939eac;
}

.footer-contacts-input::placeholder,
.footer-contacts-message::placeholder {
  color: #939eac;
}

.footer-contacts-message {
  margin-bottom: 20px;
  height: 162px;
  resize: none;
}
@media screen and (min-width: 768px) {
  .footer-contacts-message {
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-message {
    width: 608px;
  }
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    top: 26px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
  }
}

.header-logo {
  font-size: 28px;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 128px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: auto;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-link {
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.hero {
  height: 568px;
  padding-top: 182px;
  padding-bottom: 122px;
  margin: auto;
  background-image: url(../images/mobile-spraying-bg.png), url(../images/mobile-spraying-small-bg.png), url(../images/mobile-phone-bg.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  background-size: 499px 52px, 144px 71px, 395px 430px, 100% 568px;
  background-repeat: no-repeat;
  background-position: right 90% top 100px, left 80% bottom 130px, right -50% top 100px, top;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../images/mobile-spraying-bg@2x.png), url(../images/mobile-spraying-small-bg@2x.png), url(../images/mobile-phone-bg@2x.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 580px;
    padding-top: 142px;
    padding-bottom: 143px;
    background-image: url(../images/tablet-spraying-bg.png), url(../images/tablet-decor-bg.png), url(../images/tablet-phone-bg.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
    background-size: 291px 58px, 362px 352px, 336px 382px, 100% 640px;
    background-repeat: no-repeat;
    background-position: left 12% top 221px, left 37% top 227px, right 7% top 182px, top;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tablet-spraying-bg@2x.png), url(../images/tablet-decor-bg@2x.png), url(../images/tablet-phone-bg@2x.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 684px;
    padding-top: 243px;
    padding-bottom: 146px;
    background-image: url(../images/spraying-bg.png), url(./images/decor-bg.png), url(../images/phone-bg.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
    background-size: 213px 29px, 541px 418px, 472px 553px, 100% 744px;
    background-repeat: no-repeat;
    background-position: left 20% top 309px, left 50% top 227px, right 10% top 222px, top;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(../images/spraying-bg@2x.png), url(../images/decor-bg@2x.png), url(../images/phone-bg@2x.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  }
}

.hero-title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2083333333;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .hero-title {
    font-size: 40px;
    line-height: 1.2;
  }
}

.hero-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .hero-text {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.hero-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 767px) {
  .hero-list {
    margin-bottom: 60px;
  }
}

.hero-item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 767px) {
  .hero-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.hero-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}
@media screen and (min-width: 767px) {
  .hero-item {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.features {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url(../images/mobile-feature.png);
  background-position: top 264px center;
  background-repeat: no-repeat;
  background-size: 280px 406px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url(../images/tablet-feature.png);
    background-position: top 289px left 30px;
    background-repeat: no-repeat;
    background-size: 406px 614px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 105px;
    background-image: url(../images/vector-1.png), url(../images/feature.png), url(../images/vector-2.png);
    background-position: left 20% top 75%, left 50% top 80%, right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: cover, 396px 596px, cover;
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-title {
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
@media screen and (min-width: 1200px) {
  .features-title {
    margin-bottom: 80px;
  }
}

.features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .features-text {
    margin-bottom: 141px;
  }
}

.features-wrap {
  display: flex;
}

.features-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .features-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .features-list-one {
    margin-top: 489px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list-one {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list-one {
    margin-right: 492px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list-two {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.features-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-tablet {
    position: absolute;
    left: -417px;
    top: 183px;
  }
}

/* position: relative; */
/* позиціонування маркера через абсолют */
/* .features-icon {
  position: absolute;
  top: -40px;
  left: -7px;
} */
@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item:not(:last-child) {
    margin-bottom: 80px;
  }
}

.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 13px;
  display: flex;
  gap: 12px;
}

.features-item-title::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(./images/marker.png);
  margin-top: -1px;
  margin-left: -35px;
  background-size: cover;
}

.features-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  max-width: 220px;
}

.video {
  padding-top: 40px;
  padding-bottom: 105px;
  height: 629px;
  margin: auto;
  background-color: #06071b;
  background-image: url(../images/mobile-spraying-1.png), url(../images/mobile-video.png);
  background-repeat: no-repeat;
  background-size: 100% 296px, 266px 128px;
  background-position: top 320px center, top 396px center;
}
@media screen and (min-width: 768px) {
  .video {
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: url(../images/tablet-spraying-1.png), url(../images/tablet-spraying-2.png), url(../images/tablet-video.png);
    background-repeat: no-repeat;
    background-size: cover, cover, 382px 184px;
    background-position: top 257px center, right 80% top 40%, top 334px center;
  }
}
@media screen and (min-width: 1200px) {
  .video {
    padding-top: 60px;
    padding-bottom: 98px;
    background-image: url(../images/spraying-1.png), url(../images/spraying-2.png), url(../images/video.png);
    background-repeat: no-repeat;
    background-size: 420px 508px, 291px 58px, 501px 282px;
    background-position: right 10% top 15%, right 80% top 40%, right 6% top 55%;
  }
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-title {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .video-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .video-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.video-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .video-text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .video-text {
    font-size: 16px;
    line-height: 1.1875;
  }
}
@media screen and (min-width: 1200px) {
  .video-text {
    max-width: 479px;
  }
}

.video-app-list {
  margin-top: 24px;
  margin-bottom: 105px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .video-app-list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .video-app-list {
    margin-top: 20px;
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .video-app-list {
    margin-top: 40px;
    margin-bottom: 98px;
  }
}

.video-app-item {
  display: flex;
  width: 60px;
  height: 60px;
}

.video-app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  color: rgb(255, 255, 255);
  fill: currentColor;
}

.team {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background-image: url(../images/vector-1.png), url(../images/vector-2.png);
    background-position: left 20% top 75%, right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team-title {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 80px;
  }
}

.team-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .team-text {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -moz-column-gap: 32px;
         column-gap: 32px;
    display: flex;
  }
}

.team-item {
  padding: 16px 16px 12px;
  background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071b;
  border-radius: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    padding: 20px 20px 12px;
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    padding: 14px 12px 12px;
    width: calc((100% - 96px) / 4);
  }
}

.team-item > img {
  border-radius: 10px;
}

.team-item-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team-item-title {
    margin-top: 20px;
  }
}

.team-item-text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #ffffff;
}

.testimonials {
  padding-bottom: 40px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    padding-bottom: 80px;
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .testimonials-title {
    max-width: 179px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.costumer-name {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
}

.costumer-position {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .costumer-position {
    margin-bottom: 40px;
  }
}

.costumer-testimonials {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .costumer-testimonials {
    font-size: 16px;
    line-height: 1.5;
  }
}

.costumers-points-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.costumers-points-item {
  margin-top: 40px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  list-style: none;
  background-color: #939eac;
  transition: background-color 500ms linear;
}
.costumers-points-item:is(:hover, :focus) {
  background-color: #06071b;
}

.footer {
  padding-top: 40px;
  padding-bottom: 22px;
  background-color: #06071b;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 74px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 21px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-form {
    display: flex;
    order: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts-plus-form {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts-soc {
    margin-right: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.footer-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    margin-bottom: 80px;
  }
}

.footer-caption {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-caption {
    font-size: 24px;
    line-height: 1.2083333333;
  }
}
@media screen and (max-width: 1199px) {
  .footer-caption {
    text-align: center;
  }
}

.footer-caption-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-caption-text {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-caption-text {
    padding-left: 134px;
    padding-right: 134px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-caption-text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-caption-text {
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 1.1875;
  }
}

.footer-soc-list {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer-soc-list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-soc-list {
    align-items: center;
    justify-content: center;
  }
}

.footer-soc-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: opacity 1500ms linear;
}

.icon-regular {
  transition: 400ms;
}

.footer-soc-link:hover .footer-soc-icon .icon-regular {
  opacity: 0;
}

.icon-hovered {
  opacity: 0;
  transition: 400ms;
}

.footer-soc-link:hover .footer-soc-icon .icon-hovered {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .footer-adress-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress-list {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-adress-item {
    text-align: center;
  }
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-adress-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}

.footer-border {
  padding-top: 22px;
  border-top: 1px solid #ffffff;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */