/* -----------------------------HEAD: meta, title-------------------------------------- */
/* ---------------------BODY: header, main (section  ), footer---------------------------- */
body {
  font-family: "inter", sans-serif;
  color: #000000;
}
:root {
  --second-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* -----------------------Header: logo, navigation --------------------------------------- */
.header {
  background-color: #06071b;
}
.header-navigation {
}
.header-logo {
  font-size: 28px;
  line-height: calc(34 / 28);
  color: var(--second-color);
}

.header-list {
}

.header-item {
}
.header-link {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--second-color);
}
/* -----------------------Main: section, button --------------------------------------- */

/* ------------------------ Section 1 (HERO) Introducing Mobileapp------------------------------ */
.hero {
  background-color: #06071b;
}
.hero-title {
  font-size: 40px;
  line-height: calc(48 / 40);
  color: var(--second-color);
}
.hero-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--second-color);
}
.hero-list {
}
.hero-item {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--second-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--second-color);
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
.hero-btn:hover,
.hero-btn:focus {
  border: 2px solid;
  border-image-source: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
  border-image-slice: 1;
}
/* ----------------------------------- Section 2  KEY FEATURES-------------------------------------- */
.features {
  background-color: ;
}
.features-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.features-list {
}

.features-item {
}
.features-item-title {
  font-size: 16px;
  line-height: 1.5;
}

.features-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
}

/* -----------------------------  Section 3 WATCH THE VIDEO------------------------------ */
.video {
  background-color: #06071b;
}
.video-title {
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--second-color);
}
.video-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: var(--second-color);
}
/* -----------------------------  Section 4 OUR TEAM------------------------------ */
.team {
  background-color: blanchedalmond;
}
.team-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
}

.team-list {
}
.team-item {
}
.team-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--second-color);
}

.team-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: var(--second-color);
}
/* -----------------------------  Section 5 WHAT OUR COSTUMER’S SAY------------------------------ */
.testimonials {
}
.testimonials-title {
  font-size: 24px;
  line-height: calc(29 / 24);
}
.costumer-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
}
.costumer-position {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
}
.costumer-testimonials {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
}
/* ---------------------------- Footer: adress, button --------------------------------------- */
.footer {
  background-color: #06071b;
}
.footer-title {
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--second-color);
}
.footer-caption {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--second-color);
}
.footer-caption-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--second-color);
}
.footer-adress {
}
.footer-adress-list {
}
.footer-adress-item {
}
.footer-adress-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: var(--second-color);
}

.footer-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--second-color);
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}

.footer-btn:hover,
.footer-btn:focus {
  border: 2px solid;
  border-image-source: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
  border-image-slice: 1;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--second-color);
}
