@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "inter", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid rebeccapurple;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 16px;
  padding-right: 16px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}

.header-navigation {
  display: flex;
}

.header-logo {
  font-size: 28px;
  line-height: 1.2142857143;
  color: #ffffff;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.header-link {
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.hero {
  padding-top: 243px;
  padding-bottom: 146px;
  min-height: 744px;
  margin: auto;
  background-image: url(../images/spraying-bg.png), url(../images/decor-bg.png), url(../images/phone-bg.png), linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
  background-size: 213px 29px, 541px 418px, 472px 553px, 100% 744px;
  background-repeat: no-repeat;
  background-position: left 20% top 309px, left 50% top 227px, right 10% top 222px, top;
}

.hero-title {
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.hero-list {
  margin-bottom: 60px;
}

.hero-item:not(:last-child) {
  margin-bottom: 12px;
}

.hero-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}

.hero-btn {
  margin-right: auto;
  min-width: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: background-image 500ms linear, transform 500ms linear;
}
.hero-btn:is(:hover, :focus) {
  border: 1px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 5px;
  transform: scale(1.5);
}

.features {
  padding-top: 100px;
  padding-bottom: 105px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url(../images/vector-1.png), url(../images/feature.png), url(../images/vector-2.png);
  background-position: left 20% top 75%, left 50% top 80%, right 20% bottom 70%;
  background-repeat: no-repeat;
  background-size: 1044px 824px, 396px 596px, 304px 203px;
}

.features-container {
  width: 1003px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
}

.features-item:not(:last-child) {
  margin-bottom: 80px;
}

.features-text {
  margin-bottom: 141px;
  max-width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.features-wrap {
  display: flex;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
}

.features-list-one {
  margin-right: 492px;
  align-items: baseline;
}

.features-list-two {
  align-items: baseline;
}

.features-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

/* позиціонування маркера через абсолют */
/* .features-icon {
  position: absolute;
  top: -40px;
  left: -7px;
} */
.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 13px;
  display: flex;
  gap: 12px;
}

.features-item-title::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/marker.png);
  margin-top: -5px;
  margin-left: -35px;
  background-size: cover;
}

.features-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  max-width: 220px;
}

.video {
  padding-top: 60px;
  padding-bottom: 98px;
  max-width: 1278px;
  margin: auto;
  background-color: #06071b;
  background-image: url(../images/spraying-1.png), url(../images/spraying-2.png), url(../images/video.png);
  background-repeat: no-repeat;
  background-size: 420px 508px, 291px 58px, 501px 282px;
  background-position: right 10% top 15%, right 80% top 40%, right 6% top 55%;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.video-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.2083333333;
  color: #ffffff;
}

.video-text {
  max-width: 479px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}

.video-app-list {
  margin-top: 40px;
  margin-bottom: 98px;
  display: flex;
  gap: 20px;
}

.video-app-item {
  display: flex;
  width: 60px;
  height: 60px;
}

.video-app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  color: rgb(255, 255, 255);
  fill: currentColor;
}

.team {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #ffffff;
  background-image: url(../images/vector-1.png), url(../images/vector-2.png);
  background-position: left 20% top 75%, right 20% bottom 70%;
  background-repeat: no-repeat;
  background-size: 1044px 824px, 304px 203px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1268px;
}

.team-title {
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 80px;
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 80px;
  max-width: 886px;
}

.team-list {
  display: flex;
  flex-direction: row;
  width: calc((100% - 96px) / 4);
  gap: 32px;
}

.team-item {
  padding: 14px 12px 12px;
  background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071b;
  border-radius: 15px;
}

.team-item > img {
  border-radius: 10px;
}

.team-item-title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  color: #ffffff;
}

.team-item-text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #ffffff;
}

.testimonials {
  padding-bottom: 80px;
  background-color: #ffffff;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1487px;
}

.testimonials-title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
}

.costumer-name {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
}

.costumer-position {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
}

.costumer-testimonials {
  max-width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.costumers-points-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.costumers-points-item {
  margin-top: 40px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  list-style: none;
  background-color: #939eac;
  transition: background-color 500ms linear;
}
.costumers-points-item:is(:hover, :focus) {
  background-color: #06071b;
}

.footer {
  padding-top: 80px;
  padding-bottom: 21px;
  background-color: #06071b;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-contacts-plus-form {
  display: flex;
}

.footer-contacts-soc {
  margin-right: 140px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-contacts-wrap {
  display: flex;
  gap: 32px;
}

.footer-title {
  margin-bottom: 80px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2083333333;
  color: #ffffff;
}

.footer-caption {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  color: #ffffff;
}

.footer-caption-text {
  margin-bottom: 80px;
  max-width: 500px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-soc-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: opacity 1500ms linear;
}

.icon-regular {
  transition: 400ms;
}

.footer-soc-link:hover .footer-soc-icon .icon-regular {
  opacity: 0;
}

.icon-hovered {
  opacity: 0;
  transition: 400ms;
}

.footer-soc-link:hover .footer-soc-icon .icon-hovered {
  opacity: 1;
}

.footer-adress-item {
  margin-bottom: 12px;
}

.footer-adress-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}

.footer-contacts-input {
  margin-bottom: 20px;
  padding-bottom: 12px;
  gap: 10px;
}

.footer-contacts-input,
.footer-contacts-message {
  padding-top: 12px;
  padding-left: 8px;
  width: 288px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
}

.footer-contacts-input::-moz-placeholder, .footer-contacts-message::-moz-placeholder {
  color: #939eac;
}

.footer-contacts-input::placeholder,
.footer-contacts-message::placeholder {
  color: #939eac;
}

.footer-contacts-message {
  margin-bottom: 20px;
  width: 608px;
  height: 162px;
  resize: none;
}

.footer-btn {
  min-width: 180px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 79px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  transition: background-image 1500ms linear;
}
.footer-btn:is(:hover, :focus) {
  border: 1px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 5px;
}

.footer-border {
  padding-top: 22px;
  padding-bottom: 21px;
  border-top: 1px solid #ffffff;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  height: 936px;
  padding: 32px 40px;
  background-image: linear-gradient(to right, rgb(6, 7, 27), rgb(6, 7, 27));
}

.modal-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  color: #ffffff;
}

.modal-caption {
  margin-bottom: 28px;
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.modal-file-download-wrap {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin-bottom: 32px;
}

.modal-file-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 233px;
  height: 394px;
  padding-top: 28px;
  padding-left: 22px;
  padding-right: 26px;
  border: 2px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;
  transition: box-shadow 500ms linear;
}
.modal-file-download:is(:hover, :focus) {
  box-shadow: 0px 0px 0px 100vw #06071b;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.modal-item-components {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;
}

.modal-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.modal-next-text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.modal-options-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 32px;
  border: 2px solid transparent;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;
}

.modal-options {
  width: 244px;
  padding: 24px;
}

.modal-options-item-components {
  display: flex;
}

.modal-options-item {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.modal-options-item-components:not(:last-child) {
  margin-bottom: 20px;
}

.modal-options-title {
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.modal-options-text {
  font-size: 12px;
  line-height: 1.25;
  color: #1ab9fd;
}

.modal-btn {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */