.features {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  background-color: #ffffff;

  background-image: url(/images/mobile-feature.png);
  background-position: top 264px center;
  background-repeat: no-repeat;
  background-size: 280px 406px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 80px;

    background-image: url(/images/tablet-feature.png);
    background-position: top 289px left 23px;
    background-repeat: no-repeat;
    background-size: 430px 670px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 105px;

    background-image: url(../images/vector-1.png), url(../images/feature.png),
      url(../images/vector-2.png);
    background-position: left 20% top 75%, left 50% top 80%,
      right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: 1044px 824px, 396px 596px, 304px 203px;
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  margin-bottom: 40px;

  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 141px;
  }
}

.features-wrap {
  display: flex;
}
.features-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 90%;
    align-items: flex-end;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    row-gap: 80px;
  }
}

.features-list-one {
  margin-top: 449px;

  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 492px;
  }
}

.features-list-two {
}

.features-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;

  /* position: relative; */
}
/* позиціонування маркера через абсолют */
/* .features-icon {
  position: absolute;
  top: -40px;
  left: -7px;
} */
.features-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 13px;
  display: flex;
  gap: 12px;
}

.features-item-title::before {
  content: "";
  width: 24px;
  height: 24px;

  background-image: url(../images/marker.png);
  margin-top: -1px;
  margin-left: -35px;
  background-size: cover;
}

.features-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);

  max-width: 220px;
}
