.features {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

  background-color: #ffffff;

  background-image: url(../images/mobile-feature.png);
  background-position: top 264px center;
  background-repeat: no-repeat;
  background-size: 280px 406px;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/mobile-feature@2x.png);
  }

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 80px;

    background-image: url(../images/tablet-feature.png);
    background-position: top 289px left 30px;
    background-repeat: no-repeat;
    background-size: 406px 614px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/tablet-feature@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 105px;

    background-image: url(../images/vector-1.png), url(../images/feature.png),
      url(../images/vector-2.png);
    background-position: left 20% top 75%, left 50% top 80%,
      right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: cover, 396px 596px, cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/feature@2x.png);
    }
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  margin-bottom: 40px;

  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.features-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 141px;
  }
}

.features-wrap {
  display: flex;
}

.features-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 80px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    align-items: baseline;
  }
}

.features-list-one {
  @media screen and (max-width: 767px) {
    margin-top: 489px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 492px;
  }
}

.features-list-two {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.features-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.features-tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    left: -417px;
    top: 183px;
  }
}

/* position: relative; */

/* позиціонування маркера через абсолют */
/* .features-icon {
  position: absolute;
  top: -40px;
  left: -7px;
} */
.features-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 13px;
  display: flex;
  gap: 12px;
}

.features-item-title::before {
  content: "";
  width: 24px;
  height: 24px;

  background-image: url(../images/marker.png);
  margin-top: -1px;
  margin-left: -35px;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/marker@2x.png);
  }
}

.features-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);

  max-width: 220px;
}
