.footer {
  padding-top: 40px;
  padding-bottom: 22px;

  background-color: #06071b;
  @media screen and (min-width: 768px) {
    padding-top: 74px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 80px;
    padding-bottom: 21px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-contacts-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    order: 1;
  }
}
.footer-contacts-plus-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contacts-soc {
  @media screen and (min-width: 1200px) {
    margin-right: 140px;
  }
}

.footer-contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.footer-title {
  margin-bottom: 40px;

  text-align: center;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: $second-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 38px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.footer-caption {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: $second-color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-caption-text {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $second-color;

  @media screen and (max-width: 767px) {
    max-width: 500px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 134px;
    padding-right: 134px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.footer-soc-list {
  display: flex;
  gap: 14px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: center;
    justify-content: center;
  }
}

.footer-soc-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  background-image: $gra;
  transition: opacity 1500ms linear;
}

.icon-regular {
  transition: 400ms;
}
.footer-soc-link:hover .footer-soc-icon .icon-regular {
  opacity: 0;
}
.icon-hovered {
  opacity: 0;
  transition: 400ms;
}
.footer-soc-link:hover .footer-soc-icon .icon-hovered {
  opacity: 1;
}
.footer-adress-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 80px;
  }
}

.footer-adress-item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-adress-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  color: $second-color;
}

.footer-desktop {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contacts-wrap {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    gap: 32px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
    margin-bottom: 20px;
  }
}

.footer-contacts-input {
  padding-bottom: 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    gap: 10px;
  }
}

.footer-contacts-input,
.footer-contacts-message {
  padding-top: 12px;
  padding-left: 8px;
  width: 280px;
  height: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
  background: $second-color;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: block;
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    width: 288px;
  }
}
.footer-contacts-input::placeholder,
.footer-contacts-message::placeholder {
  color: #939eac;
}

.footer-contacts-message {
  margin-bottom: 20px;
  height: 162px;
  resize: none;

  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1200px) {
    width: 608px;
  }
}

.footer-btn {
  min-width: 180px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 40px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);

  border-radius: 5px;
  color: $second-color;
  background-image: $gra;
  transition: background-image 1500ms linear;

  &:is(:hover, :focus) {
    border: 1px solid transparent;
    background-image: $gra;
    box-shadow: inset 0px 0px 0px 100vw #06071b;
    border-radius: 5px;
  }

  @media screen and (max-width: 1199px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 79px;
  }
}

.footer-border {
  padding-top: 22px;

  border-top: 1px solid $second-color;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $second-color;
}
