.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: $gra;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    top: 26px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  font-size: 28px;
  line-height: calc(34 / 28);
  color: $second-color;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-link {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $second-color;
}
