.team {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/vector-1.png), url(../images/vector-2.png);
    background-position: left 20% top 75%, right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.team-container {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team-title {
  margin-bottom: 24px;

  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.team-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.team-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 32px;
    display: flex;
  }
}

.team-item {
  padding: 16px 16px 12px;
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  border-radius: 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 20px 20px 12px;
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1200px) {
    padding: 14px 12px 12px;
    width: calc((100% - 96px) / 4);
  }
}

.team-item > img {
  border-radius: 10px;
}
.team-item-title {
  margin-top: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;

  color: $second-color;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.team-item-text {
  margin-top: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  color: $second-color;
}
