.team {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: #ffffff;
  background-image: url(../images/vector-1.png), url(../images/vector-2.png);
  background-position: left 20% top 75%, right 20% bottom 70%;
  background-repeat: no-repeat;
  background-size: 1044px 824px, 304px 203px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1236px + 32px);
}

.team-title {
  font-size: 24px;
  line-height: calc(29 / 24);
  text-align: center;

  margin-bottom: 80px;
}

.team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 80px;
  max-width: 886px;
}

.team-list {
  display: flex;
  gap: 32px;
}

.team-item {
  width: calc((100% - 96px) / 4);
  padding: 14px 12px 12px;
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  border-radius: 15px;
}

.team-item > img {
  border-radius: 10px;
}
.team-item-title {
  margin-top: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;

  color: $second-color;
}

.team-item-text {
  margin-top: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  color: $second-color;
}
