.team {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/vector-1.png), url(../images/vector-2.png);
    background-position: left 20% top 75%, right 20% bottom 70%;
    background-repeat: no-repeat;
    background-size: 1044px 824px, 304px 203px;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  margin-bottom: 24px;

  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: calc(29 / 24);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.team-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
    column-gap: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    row-gap: 40px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 96px) / 4);
  }
}

.team-item {
  padding: 14px 12px 12px;
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  border-radius: 15px;
}

.team-item > img {
  border-radius: 10px;
}
.team-item-title {
  margin-top: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;

  color: $second-color;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.team-item-text {
  margin-top: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  color: $second-color;
}
