.testimonials {
  padding-bottom: 40px;
  background-color: $second-color;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 80px;
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;

  @media screen and (max-width: 768px) {
    max-width: 179px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}

.costumer-name {
  margin-top: 20px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
}

.costumer-position {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.costumer-testimonials {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
.costumers-points-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.costumers-points-item {
  margin-top: 40px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  list-style: none;

  background-color: #939eac;
  transition: background-color 500ms linear;

  &:is(:hover, :focus) {
    background-color: #06071b;
  }
}
