.footer-desktop {
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.footer-contacts-wrap {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 32px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
    margin-bottom: 20px;
  }
}

.footer-contacts-input {
  padding-bottom: 12px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    gap: 10px;
  }
}

.footer-contacts-input,
.footer-contacts-message {
  padding-top: 12px;
  padding-left: 8px;
  width: 280px;
  height: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
  background: $second-color;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}
.footer-contacts-input::placeholder,
.footer-contacts-message::placeholder {
  color: #939eac;
}

.footer-contacts-message {
  margin-bottom: 20px;
  height: 162px;
  resize: none;

  @media screen and (min-width: 768px) {
    width: 704px;
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
  }
}
