.mobile-menu-open {
  padding: 0;

  line-height: 0;
  background-color: transparent;
  border: none;
  stroke: rgba(255, 255, 255, 1);

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  max-height: 568px;

  background-image: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.2) -1.97%,
    rgba(181, 68, 254, 0.2) 89.43%
  );
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 34px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;

  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 35px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  fill: currentColor;
}

.mobile-menu-list {
  margin-top: 52px;

  text-align: center;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(39 / 32);
  text-align: center;

  color: $second-color;

  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:is(:hover, :focus) {
    background-image: $gra;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 36px;
}
