.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 48px 24px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    to right,
    rgba(6, 7, 27, 1),
    rgba(6, 7, 27, 1)
  );
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    width: 568px;

    padding: 32px 40px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: $second-color;
}

.modal-caption {
  margin-bottom: 24px;

  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  color: $second-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.modal-file-download-icon {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.modal-file-download-wrap {
  @media screen and (min-width: 768px) {
    display: flex;

    column-gap: 22px;
    margin-bottom: 32px;
  }
}
.modal-file-download {
  padding-top: 28px;
  padding-left: 22px;
  padding-right: 26px;
  height: 394px;
  border: 2px solid transparent;

  text-align: center;
  background-image: $gra;
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;
  transition: box-shadow 500ms linear;

  &:is(:hover, :focus) {
    box-shadow: 0px 0px 0px 0px #06071b;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 233px;
    text-align: start;
  }
}

.modal-file-download:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $second-color;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.modal-item-components {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;
}
.modal-text {
  font-size: 14px;
  line-height: 1.71;
  color: $second-color;

  @media screen and (max-width: 767px) {
    text-align: start;
  }
}

.modal-next-text {
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $second-color;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.modal-options-wrap {
  margin-bottom: 20px;

  border: 2px solid transparent;

  background-image: $gra;
  box-shadow: inset 0px 0px 0px 100vw #06071b;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.modal-options {
  padding: 24px;

  @media screen and (min-width: 768px) {
    width: 244px;
  }
}
.modal-border {
  background-image: $gra;
  box-shadow: inset 0px 0px 0px 100vw #06071b;

  @media screen and (max-width: 768px) {
    border-bottom: 2px solid transparent;
  }
  @media screen and (min-width: 768px) {
    border-right: 2px solid transparent;
  }
}
.modal-options-item-components {
  display: flex;
}

.modal-options-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.modal-options-item-components:not(:last-child) {
  margin-bottom: 20px;
}

.modal-options-title {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(15 / 12);
  color: $second-color;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.modal-options-text {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #1ab9fd;
}
