body {
  font-family: "inter", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
  }

  @media screen and (min-width: 1200px) {
    width: 1248px;
  }
}
.min-container {
  @media screen and (max-width: 767px) {
    width: 266px;
  }
}

.small-container {
  @media screen and (min-width: 1200px) {
    width: 886px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
