.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: calc(280px + 20px + 20px);
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    width: calc(704px + 32px + 32px);
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
    width: calc(1248px + 16px + 16px);
  }
}

.min-container {
  @media screen and (max-width: 767px) {
    width: calc(266px + 20px + 20px);
  }
}

.small-container {
  @media screen and (min-width: 1200px) {
    width: calc(886px + 16px + 16px);
  }
}
